<div class="font-sans">
    <h1 class="ml-2 text-xl font-bold text-zinc-800">Dashboard</h1>
    <div class="flex flex-wrap">
        <div class="w-1/5">
            <div class="bg-zinc-100 rounded-lg p-2 m-2 h-20">
                <div class="flex flex-col">
                    <span class="text-lg font-bold text-zinc-600">Total Passwords</span>
                    <span class="text-3xl font-bold text-zinc-700">50</span>
                </div>
            </div>
        </div>
        <div class="w-1/5 h-auto">
            <div class="bg-zinc-100 rounded-lg p-2 m-2 h-20">
                <div class="flex flex-col">
                    <span class="text-lg font-bold text-zinc-600">Avg. Strength</span>
                    <div class="w-full bg-gray-200 rounded-full mt-5">
                        <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 45%"> 45%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <Favorites />
</div>

@code {

}
