<div class="max-w-fit m-2 font-semibold drop-shadow-md rounded-lg bg-zinc-100 p-4 hover:bg-zinc-50 hover:scale-105">
    <div class="flex flex-col whitespace-nowrap">
        <div class="uppercase text-md font-bold border-b border-zinc-400 tracking-tight text-indigo-600 inline-block align-baseline">
            <span class="float-left mr-1">@entry.Title</span>
            <svg class="fill-yellow-500 hover:animate-pulse hover:scale-110 hover:cursor-pointer" width="23px" height="23px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"><path d="M22,10.1c0.1-0.5-0.3-1.1-0.8-1.1l-5.7-0.8L12.9,3c-0.1-0.2-0.2-0.3-0.4-0.4C12,2.3,11.4,2.5,11.1,3L8.6,8.2L2.9,9C2.6,9,2.4,9.1,2.3,9.3c-0.4,0.4-0.4,1,0,1.4l4.1,4l-1,5.7c0,0.2,0,0.4,0.1,0.6c0.3,0.5,0.9,0.7,1.4,0.4l5.1-2.7l5.1,2.7c0.1,0.1,0.3,0.1,0.5,0.1l0,0c0.1,0,0.1,0,0.2,0c0.5-0.1,0.9-0.6,0.8-1.2l-1-5.7l4.1-4C21.9,10.5,22,10.3,22,10.1z" /></svg>
        </div>
        @if (string.IsNullOrEmpty(entry.Username))
        {
            <span class="text-sm">
                Username not set
            </span>
        }
        else
        {
            <span class="text-sm">
                @entry.Username
            </span>
        }
    </div>
</div>


@code {
    [Parameter]
    public Entry entry { get; set; }

}
