@using WachtWoord.Models.Services

@if (favoritesList.Any())
{
    @foreach (Entry entry in favoritesList)
    {
        <FavoriteCard entry="@entry" />
    }
}
else
{
    <p class="ml-2 text-gray-500 text-md">No entries marked as favorite </p>
}

@code {
    [Parameter]
    public List<Entry> favoritesList { get; set; }
}
