
<div class="relative group max-w-screen mr-3 shadow-sm">
    <div class="flex mt-2 relative px-5 py-4 bg-zinc-100/50 rounded-md leading-none hover:bg-zinc-100 ">
        <span class="uppercase">@entry.Title</span>

    </div>
</div>


@code {
    [Parameter]
    public Entry entry { get; set; }

}

