<tr class='border-b border-gray-700 @((i % 2 == 0) ? "bg-neutral-300" : "bg-neutral-200")'>
    <th class='py-4 px-6 font-medium whitespace-nowrap'>@entry.Id</th>
    <td>@entry.Username</td>
    <td>********</td>
</tr>

@code {
    [Parameter]
    public Entry entry { get; set; }
    [Parameter]
    public int i { get; set; }
}

