<nav class="bg-neutral-200">
    <div class="container flex flex-wrap">
        <div class="flex w-auto">
            <ul class="w-full flex p-3 flex-row space-x-2">
                <li>
                    <button class="block p-2 rounded-lg hover:bg-white/80 bg-neutral-300">
                        <img class="w-10 h-auto" src="img/new.png" title="New" />
                    </button>
                </li>
                <li>
                    <button href="#" class="block p-2 rounded-lg hover:bg-white/80 bg-neutral-300">
                        <img class="w-10 h-auto" src="img/edit.png" title="Edit" />
                    </button>
                </li>
                <li>
                    <button class="block p-2 rounded-lg hover:bg-white/80 bg-neutral-300">
                        <img class="w-10 h-auto" src="img/delete.png" title="Delete" />
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {

}
