@page "/"

<table class="w-full text-sm text-left ">
    <thead class="text-xs uppercase text-black bg-gray-700 text-white">
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        @display_all_entries()
    </tbody>
</table>

@code {
    private List<Entry> entries = new List<Entry>();
    private Entry entry = new Entry();

    protected override void OnInitialized()
    {
        entries = GetEntries();
    }

    private List<Entry> GetEntries()
    {
        return new List<Entry>
        {
            new Entry { Id = 1, Password = "A", Username = "B"},
            new Entry { Id = 2, Password = "C", Username = "B"},
            new Entry { Id = 3, Password = "D", Username = "B"},
        };
    }

    //This function gets called in the Tbody.
    //It's purpose is getting the entries from the database and displaying them in the table.
    private MarkupString display_all_entries()
    {
        var sb = new StringBuilder();
        var color = "";
        int i = 1;
        //TODO: Call EntryService class to get entries from database.
        foreach (var entry in entries)
        {
            //If statement is needed for striped rows. Every 2nd row gets a different color.
            if (i % 2 == 0)
            {
                color = "bg-gray-400";
            } else {
                color = "bg-gray-200";
            }

            sb.Append($"<tr class='border-b border-gray-700 {color}'><th class='py-4 px-6 font-medium whitespace-nowrap'>{entry.Id}</th><td>{entry.Username}</td><td>{entry.Password}</td></tr>");
            i++;
        }
        return new MarkupString(sb.ToString());
    }
}