@page "/StoredEntries"
@using WachtWoord.Models.Services
@using WachtWoord.Pages.StoredEntriesComponents
<div class="overflow-hidden h-screen">
    <CRUDCards/>
    <FilterOptions OnSearchChange="SearchQueryUpdate"/>
    <EntryTable allEntries="@allEntries"/>
</div>

@code {
    private List<Entry> allEntries = new List<Entry>();
    private readonly EntryService _entryService = new();

    protected override void OnInitialized()
    {
        allEntries = _entryService.GetAllEntries();
    }

    void SearchQueryUpdate(string searchQuery)
    {
        allEntries = _entryService.GetAllEntries();
        if(!string.IsNullOrEmpty(searchQuery))
        {
            allEntries = allEntries.Where(e => e.Title.ToLower().Contains(searchQuery.ToLower())).ToList();
        }
    }
}
