@inherits LayoutComponentBase

<div class="page bg-neutral-100 h-screen">
    <div>
        <NavBar />
    </div>

    <div class="ml-20">
        <div class="content">
            @Body
        </div>
    </div>
</div>