@inherits LayoutComponentBase

<div class="page dark:bg-neutral-600 h-screen">
    <div>
        <NavBar />
    </div>

    <div class="ml-20 border-2">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>