<aside class="w-64 fixed" aria-label="Sidebar">
    <div class="h-screen w-20 overflow-hidden py-4 px-3 bg-neutral-200 drop-shadow-sm">
        <ul class="space-y-2">
            <li>
                <a href="/" class="flex items-center p-2 rounded-lg hover:bg-white/80 bg-neutral-300">
                    <img class="w-20 h-auto" src="/img/home.png" title="Settings" />
                </a>
            </li>
            <li>
                <a href="/NewEntry" class="flex items-center p-2 rounded-lg hover:bg-white/80 bg-neutral-300">
                    <img class="w-20 h-auto" src="/img/lock.png" title="Settings" />
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 rounded-lg hover:bg-white/80 bg-neutral-300">
                    <img class="w-20 h-auto" src="/img/settings.png" title="Settings"/>
                </a>
            </li>
        </ul>
    </div>
</aside>