<div class="w-35 fixed font-semibold tracking-tight uppercase " aria-label="Sidebar">
    <div class="h-screen overflow-hidden py-4 px-3 bg-zinc-100 flex items-center drop-shadow-sm rounded-r-md">
        <ul class="space-y-1">
            <li class="transition ease-in-out duration-400 underline decoration-transparent hover:decoration-pink-500">
                <a href="/dashboard" @onclick='() => Active = "dashboard"' class="@(Active== "dashboard" ? "text-pink-500" : "text-black")">
                    dashboard
                </a>
            </li>
            <li class="transition ease-in-out duration-400 underline decoration-transparent hover:decoration-pink-500">
                <a href="/Entries" @onclick='() => Active = "passwords"' class="@(Active== "passwords" ? "text-pink-500" : "text-black")">
                    passwords
                </a>
            </li>
            <li class="transition ease-in-out duration-400 underline decoration-transparent hover:decoration-pink-500">
                <a href="/archive" @onclick='() => Active = "archive"' class="@(Active== "archive" ? "text-pink-500" : "text-black")">
                    archive
                </a>
            </li>
            <li class="transition ease-in-out duration-400 underline decoration-transparent hover:decoration-pink-500">
                <a href="/settings" @onclick='() => Active = "settings"' class="@(Active == "settings" ? "text-pink-500" : "text-black")">
                    settings
                </a>
            </li>
        </ul>
    </div>
</div>

@code {
    private string Active = "dashboard";
}