@using WachtWoord.Models.Services
@inject NavigationManager navigationManager

<div class="flex flex-wrap w-full text-center">
    <div class="w-1/6" @onclick="OnCreateClick">
        <div class="bg-zinc-100 rounded-lg p-2 m-2 h-10 cursor-pointer hover:scale-105">
            <div class="flex flex-col">
                <span class="text-lg font-bold text-zinc-600" >
                    Create
                </span>
            </div>
        </div>
    </div>

    <div class="w-1/6" @onclick="OnUpdateClick">
        <div class="bg-zinc-100 rounded-lg p-2 m-2 hover:scale-105 h-10 cursor-pointer">
            <div class="flex flex-col">
                <span class="text-lg font-bold text-zinc-600">Details</span>
            </div>
        </div>
    </div>

    <div class="w-fit" @onclick="OnDeleteClick">
        <div class="bg-red-200 rounded-lg p-2 m-2 hover:scale-105 h-10 cursor-pointer ">
            <div class="flex flex-col">
                <span>
                    <i class="fa-regular fa-trash-can fa-xl text-black"></i>
                </span>
            </div>
        </div>
    </div>
</div>

@if (displayErrorMsg && selectedEntry == null)
{
    <div>
        <span class="text-red-500">@errorMsg</span>
    </div>
}

@code {
    [Parameter]
    public Entry? selectedEntry { get; set; }
    private bool displayErrorMsg { get; set; }
    private string errorMsg { get; set; }

    protected override void OnInitialized()
    {
        displayErrorMsg = false;
        errorMsg = "You must select an entry first!";
    }
    
    protected override void OnParametersSet()
    {
        if (selectedEntry != null)
        {
            displayErrorMsg = false;
        }
    }

    bool isSelectedNull(){
        var result = selectedEntry == null;
        if(result){
            displayErrorMsg = true;
        }
        return result;
    }

    void OnCreateClick()
    {
        navigationManager.NavigateTo("/NewEntry");
    }

    void OnUpdateClick()
    {
        if (!isSelectedNull())
        { 
            navigationManager.NavigateTo("/details/" + selectedEntry.Id);
        }
        else
        {
            displayErrorMsg = true;
        }
    }

    void OnDeleteClick(){
        if (!isSelectedNull())
        {
            navigationManager.NavigateTo("/delete/" + selectedEntry.Id);
        }
        else
        {
            displayErrorMsg = true;
        }
    }
}