<table class="w-full text-sm text-center">
    <thead class="text-xs uppercase text-black bg-gray-700 text-white">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Username</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody>
        <EntryLoop />
    </tbody>
</table>