
        <div class="max-w-fit m-2 font-semibold hover:scale-105">
            <div class="rounded-lg drop-shadow-md bg-zinc-100 p-4">
                <div class="flex flex-col">
                    <span class="uppercase text-md font-bold border-b border-zinc-400 tracking-tight text-pink-600">@entry.Title</span
                    <span class="text-sm">
                    @entry.Username
                    </span>
                </div>
            </div>
        </div>


@code{
    [Parameter]
    public Entry entry { get; set; }
}
