<nav class="bg-neutral-800 px-2 py-4">
    <div class="container">
        <div class="flex w-auto">
            <ul class="w-full flex flex-row space-x-1">
                <li>
                    <button class="block p-2 rounded-md hover:bg-violet-400 hover:scale-105 bg-violet-500">
                        <img class="w-10 h-auto" src="img/new.png" title="New" />
                    </button>
                </li>
                <li>
                    <button class="block p-2 rounded-md hover:bg-violet-400 hover:scale-105 bg-violet-500">
                        <img class="w-10 h-auto" src="img/edit.png" alt="edit" title="Edit" />
                    </button>
                </li>
                <li>
                    <button class="block p-2 rounded-md hover:bg-violet-400 hover:scale-105 bg-violet-500">
                        <img class="w-10 h-auto" src="img/copy.png" alt="copy" title="Copy" />
                    </button>
                </li>
                <li>
                    <button class="block p-2 rounded-md hover:bg-violet-400 hover:scale-105 bg-violet-500">
                        <img class="w-10 h-auto" src="img/delete.png" alt="delete" title="Delete" />
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>


@code {

}
